# Week 1 Homework - Intro

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Question 1  
What's the version of Pandas that you installed?

In [4]:
pd.__version__

'1.4.4'

In [2]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

--2023-09-26 23:15:45--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 2606:50c0:8000::154, 2606:50c0:8001::154, 2606:50c0:8002::154, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|2606:50c0:8000::154|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1423529 (1.4M) [text/plain]
Saving to: 'housing.csv'

     0K .......... .......... .......... .......... ..........  3% 1.07M 1s
    50K .......... .......... .......... .......... ..........  7% 10.3M 1s
   100K .......... .......... .......... .......... .......... 10% 2.73M 1s
   150K .......... .......... .......... .......... .......... 14% 7.31M 0s
   200K .......... .......... .......... .......... .......... 17% 7.58M 0s
   250K .......... .......... .......... .......... .......... 21% 5.00M 0s
   300K .......... .......... .......... .......... .......... 25% 5.30M 0s
   350K .......... .......... .......... .......... .......... 28% 1.05M 0s
   400K .......... .......... .......... .......... .......... 32%  546K 0s
   450K .......... .......... .......... .......... .......... 35% 7.41M 0s
   500K .......... .......... .......... .......... .......... 39% 11.6M 0s
   550K .......... .......... .......... .......... .......... 43% 7.65M 0s
   600K .......... .......... .......... .......... .......... 46% 13.7M 0s
   650K .......... .......... .......... .......... .......... 50% 10.1M 0s
   700K .......... .......... .......... .......... .......... 53% 10.5M 0s
   750K .......... .......... .......... .......... .......... 57% 10.3M 0s
   800K .......... .......... .......... .......... .......... 61% 15.1M 0s
   850K .......... .......... .......... .......... .......... 64% 11.4M 0s
   900K .......... .......... .......... .......... .......... 68% 4.47M 0s
   950K .......... .......... .......... .......... .......... 71% 2.91M 0s
  1000K .......... .......... .......... .......... .......... 75% 7.31M 0s
  1050K .......... .......... .......... .......... .......... 79% 2.96M 0s
  1100K .......... .......... .......... .......... .......... 82% 3.44M 0s
  1150K .......... .......... .......... .......... .......... 86% 16.1M 0s
  1200K .......... .......... .......... .......... .......... 89% 10.9M 0s
  1250K .......... .......... .......... .......... .......... 93% 10.1M 0s
  1300K .......... .......... .......... .......... .......... 97% 2.66M 0s
  1350K .......... .......... .......... ..........           100% 19.1M=0.4s

2023-09-26 23:15:46 (3.59 MB/s) - 'housing.csv' saved [1423529/1423529]

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv')

# Question 2  
How many columns are in the dataset?

In [6]:
print(f'Number of rows:{df.shape[0]}\tNumber of columns:{df.shape[1]}')

Number of rows:20640	Number of columns:10

# Question 3  
Which columns in the dataset have missing values?

In [7]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

Column `total_bedrooms` has missing values.

# Question 4  
How many unique values does the `'ocean_proximity'` column have?

In [8]:
df['ocean_proximity'].nunique()

5

In [10]:
df['ocean_proximity'].value_counts().index.values

array(['<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'NEAR BAY', 'ISLAND'],
      dtype=object)

# Question 5  
What's the average value of the `'median_house_value'` for the houses located near the bay?

In [15]:
df.groupby(by='ocean_proximity')['median_house_value'].mean()['NEAR BAY']

259212.31179039303

# Question 6

In [24]:
mean_total_bedroom = df["total_bedrooms"].mean()
print(f'Mean of total bedrooms with missing values: {mean_total_bedroom:.3f}')
imputed_mean_total_bedroom = df["total_bedrooms"].fillna(mean_total_bedroom).mean()
print(f'Mean of total bedrooms with mean as imputation: {imputed_mean_total_bedroom:.3f}')

Mean of total bedrooms with missing values: 537.871
Mean of total bedrooms with mean as imputation: 537.871

Considering 3 decimals only, there is no change.

# Question 7

In [26]:
island_df = df[df.ocean_proximity == 'ISLAND']
island_df = island_df[['housing_median_age', 'total_rooms', 'total_bedrooms']]
island_df

      housing_median_age  total_rooms  total_bedrooms
8314                27.0       1675.0           521.0
8315                52.0       2359.0           591.0
8316                52.0       2127.0           512.0
8317                52.0        996.0           264.0
8318                29.0        716.0           214.0

In [27]:
X = island_df.values
XTX = X.T.dot(X)
XTX_inv = np.linalg.inv(XTX)
y = [950, 1300, 800, 1000, 1300]
w = (XTX_inv @ X.T) @ y
w[-1] # last value of weight vector

5.699229455065586